server:
  port: 8081

spring:
  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
    properties:
      spring.json.add.type.headers: false
  application:
    name: sensor-generator

sensor:
  kafka:
    topics:
      temperature: sensor-temperature-topic
      voltage: sensor-voltage-topic
      power: sensor-power-topic
